@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

body{
  background: #222;
  color: white;
}

p{
  font-size: 0.8em;
  font-family: Nunito;
}

.content{
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #ddd;
}

.one-columns{
  width: 33.34%;
  margin: 0;
  float: left;
}

.two-columns{
  width: 66%;
  margin: 0;
  float: left;
}

.card{
  border: 1px solid #ddd;
  margin: 5px;
  padding: 25px;
}

.form-control{
  width: 100%;
  margin-bottom: 10px;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.btn-primary{
  background: #28a745;
  color: white;
}

.float-right{
  float: right;
}
